/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    height: 100vh;
}

img {
    width: 100%;
}

/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    padding: 15px;
    background-color: black;
}

h1 {
    color: white;
}
/* FINE HEADER */

/* MAIN */
main {
    background-color: darkgrey;
    width: 100%;
    height: calc(100% - 68px);
    padding: 20px 10px 20px 30px;
    overflow-y: auto;
}

.posters-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card {
    width: calc(100% / 6 - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    height: 300px;
    background-color: white;
    position: relative;
    cursor: pointer;
}

.card .poster {
    width: 100%;
    height: 100%;
    object-fit: fill;
    position: absolute;
    top: 0;
    left: 0;
}

.card:hover .poster {
    visibility: hidden;
}

.card-info {
    list-style-type: none;
    width: 100%;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
}

.card-info li {
    margin-bottom: 15px;

}

.flag {
    width: 20px;
}

.card-info i {
    color: gold;
}

.actor:not(:last-child)::after,
.genre:not(:last-child)::after {
    content: ", ";
}
