<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title></title>
         <link rel="stylesheet" href="css/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    </head>
    <body>

        <div id="root" class="wrapper">
            <header>
                <h1>Boolflix</h1>
                <div class="search">
                    <input type="text" v-model="query" @keyup.enter="find()">
                    <button class="search-button">Cerca</button>
                </div>
            </header>
            <main>
                <div class="movies-container">
                    <div v-for="movie in movies" class="movie">
                        <img :src="`https://image.tmdb.org/t/p/w342${movie.poster_path}`" alt="{{movie.title}}">
                        <ul class="movie-info">
                            <li>
                                <b>Titolo:</b>
                                {{ movie.title }}
                            </li>
                            <li>
                                <b>Titolo originale:</b>
                                {{ movie.original_title }}
                            </li>
                            <li>
                                <b>Lingua:</b>
                                {{ movie.original_language }}
                            </li>
                            <li>
                                <b>Voto:</b>
                                {{ movie.vote_average }}
                            </li>
                        </ul>
                    </div>
                </div>
            </main>
        </div>


    <script src="js/script.js" charset="utf-8"></script>
    </body>
</html>
